body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    padding: 16px 200px;
    align-items: center;
    justify-content: space-between;
}

.hero {
    background-color: #1F2937;
    padding: 200px 200px;
    display: flex;
    justify-content: space-between;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 320px;
    background-color: #e5e7eb;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    padding-top: 70px;
    padding-bottom: 170px;
}

.info-items {
    display: flex;
    gap: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    gap: 10px;
}

.item-photo {
    padding: 70px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.item-text {
    font-size: 16px;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 450px;
}

.header-logo {
    color: #f9fAf8;
    font-size: 28px;
}

.hero-secondary-text {
    color: #e7e5eb;
    font-size: 18px;
}

.hero-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.secondary-links {
    display: flex;
    gap: 20px;
}

.hero-img {
    color: #ffffff;
    background-color: #999999;
    padding: 20px;
    width: 500px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.sign-up {
    color: #ffffff;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 120px;
    padding: 8px;
    font-size: 18px;
}

.info-header {
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
}

.quote {
    color: #1f2937;
    font-weight: 300;
    font-size: 36px;
}

.quote-person {
    align-self: end;
    font-weight: bold;
    font-size: 20px;
}

.cta-section {
    padding: 100px;
    display: flex;
    justify-content: center;
}

.cta-box {
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    padding: 60px 50px;
    align-items: center;
    justify-content: center;
    gap: 300px;
    width: 1000px;
}

.cta-text {
    display: flex;
    flex-direction: column;
}

.cta-header {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}

.footer-text,
.cta-subtext {
    color: #ffffff;
    font-size: 16px;
}

button.cta {
    color: #ffffff;
    background-color: #3882f6;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 7px 30px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
}